USE [master]
GO
/****** Object:  Database [EvaluationDB]    Script Date: 26-12-2023 15:45:10 ******/
CREATE DATABASE [EvaluationDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EvaluationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EvaluationDB]
GO
USE [EvaluationDB]
GO
/****** Object:  Table [dbo].[tblAssignParty]    Script Date: 26-12-2023 15:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAssignParty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[party_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_tblAssignParty] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInvoice]    Script Date: 26-12-2023 15:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInvoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[party_id] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_tblInvoice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInvoiceDetail]    Script Date: 26-12-2023 15:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInvoiceDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[rate] [decimal](9, 2) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tblInvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblParty]    Script Date: 26-12-2023 15:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblParty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[party_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblParty] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 26-12-2023 15:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductRate]    Script Date: 26-12-2023 15:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductRate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[rate] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_tblProductRate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAssignParty]  WITH CHECK ADD  CONSTRAINT [FK_tblAssignParty_tblParty] FOREIGN KEY([party_id])
REFERENCES [dbo].[tblParty] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAssignParty] CHECK CONSTRAINT [FK_tblAssignParty_tblParty]
GO
ALTER TABLE [dbo].[tblAssignParty]  WITH CHECK ADD  CONSTRAINT [FK_tblAssignParty_tblProduct] FOREIGN KEY([product_id])
REFERENCES [dbo].[tblProduct] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAssignParty] CHECK CONSTRAINT [FK_tblAssignParty_tblProduct]
GO
ALTER TABLE [dbo].[tblInvoice]  WITH CHECK ADD  CONSTRAINT [FK_tblInvoice_tblParty] FOREIGN KEY([party_id])
REFERENCES [dbo].[tblParty] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInvoice] CHECK CONSTRAINT [FK_tblInvoice_tblParty]
GO
ALTER TABLE [dbo].[tblInvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblInvoiceDetail_tblInvoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[tblInvoice] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInvoiceDetail] CHECK CONSTRAINT [FK_tblInvoiceDetail_tblInvoice]
GO
ALTER TABLE [dbo].[tblInvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblInvoiceDetail_tblProduct] FOREIGN KEY([product_id])
REFERENCES [dbo].[tblProduct] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInvoiceDetail] CHECK CONSTRAINT [FK_tblInvoiceDetail_tblProduct]
GO
ALTER TABLE [dbo].[tblProductRate]  WITH CHECK ADD  CONSTRAINT [FK_tblProductRate_tblProduct] FOREIGN KEY([product_id])
REFERENCES [dbo].[tblProduct] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblProductRate] CHECK CONSTRAINT [FK_tblProductRate_tblProduct]
GO
USE [master]
GO
