* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.header {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
.header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
a {
  text-decoration: none;
}
.header-heading {
  font-weight: bold;
  font-size: 1.5em;
}
.header-title {
  font-size: 1.3em;
}
.content .container,
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.3em;
}
.txtParty {
  padding: 0.5em;
  font-size: 0.5em;
}
.content .container {
  flex-direction: column;
  gap: 2em;
}
.form {
  display: flex;
  gap: 2em;
}
