.btn-orange {
  background-color: white;
  color: #d4941c;
  border: 2px solid #d4941c;
}
.btn-orange:hover {
  background-color: #d4941c;
  color: white;
}
#toastMessage {
  display: absolute;
  right: 1em;
  bottom: 1em;
}
